{
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "globals": {
        "process": true,
        "React": "writable"
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "react/prop-types": 0,
        "react/jsx-uses-vars": [2],
        "react/jsx-no-undef": "error",
        "no-console": 0
    }
}
